@import url(../../App.scss);

.image__div {
	width: 400px;
}

.image {
	width: 400px;
	&__twelve {
		border-bottom: 12px solid black;
	}

	&__fourteen {
		border-top: 30px solid white;
		border-bottom: 30px solid white;
	}

	&__ten {
		border-top: 24px solid white;
		border-bottom: 24px solid white;
	}

	&__thirteen {
		border-top: 5px solid black;
		border-bottom: 5px solid black;
	}
	&__eighteen {
		border-top: 29px solid black;
		border-bottom: 29px solid black;
	}

	&__ninteen {
		border-top: 100px solid white;
		border-bottom: 100px solid white;
	}
}

.image__four {
	width: 385px;
	// height: 400px;
	border-top: 20px solid white;
	border-right: 20px solid white;
	// margin: 20px;
}
