@import "../../App.scss";

.about {
	@include mobile {
		margin-top: 50px;
		padding-bottom: 20px;

		&__image-div {
			width: 80%;
			margin: auto;
		}

		&__image {
			width: 90%;
			margin: auto;
			border: 20px solid white;
		}

		&__div-intro {
			margin-top: 20px;
			margin-bottom: 30px;
		}
		&__intro {
			width: 80%;
			margin: 30px auto;
			font-size: 20px;
			letter-spacing: 1.5px;
		}
	}

	@include tablet {
		padding-bottom: 30px;
		margin-top: 0px;

		&__intro {
			font-size: 25px;
			margin: 40px auto;
		}

		&__image-div {
			width: 80%;
			margin: auto;
		}

		&__image {
			width: 94%;
			margin-top: 50px;
		}
	}

	@include desktop {
		padding-bottom: 50px;
		&__intro {
			width: 80%;
			margin-top: 70px;
			font-size: 25px;
			letter-spacing: 1.5px;
		}

		&__image {
			width: 92%;
			border: 20px solid white;
			margin-top: 50px;
		}

		&__div-intro {
			display: flex;
			flex-direction: row-reverse;
			gap: 200px;
			margin: 20px 110px;
		}
	}
}
