@import "../../App.scss";

.image {
	@include mobile {
		&__div-single {
			display: flex;
			margin-bottom: 50px;
		}

		&__div-men {
			margin-top: 70px;
			margin-bottom: 70px;
		}

		&--men {
			width: 80%;
			margin: auto;
		}

		&__four--men {
			width: 80%;
			margin: auto;
		}
	}

	@include tablet {
		&__div-single {
			width: 50%;
			margin-bottom: 50px;
		}

		&__div-men {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 30px;
		}

		&--men {
			width: 80%;
		}

		&__four--men {
			width: 80%;
		}
	}

	@include desktop {
		&__div-single {
			width: 50%;
			margin-bottom: 100px;
		}

		&__div-men {
			display: flex;
			flex-wrap: wrap;
			margin: 50px 40px 0px;
		}

		&--men {
			width: 80%;
		}

		&__four--men {
			width: 80%;
		}
	}
}
